* {box-sizing: border-box}


#form{

height: 100px;
width: 40%;
text-align: center;
margin-left: 30%;


}
body{
  background-size: cover;
    background-image: url(../images/istockphoto-838218772-612x612.jpg)
    
    
}
h1{
    text-align: center;
   
   
}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #e2ca5f;
 color: rgb(30, 79, 107);
 }




input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(196, 181, 181);
  outline: none;
text-align: center;

}

a{
  text-align: center;
  font-size: 200%;

color: yellow;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}

/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
    text-align: center;
    margin: 30%;
    text-align: center;
  }

}

/*Grid Layout */

.grid-container {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px ;
    grid-gap: 1px;
    background-color: #2196F3;
    padding: 10px;
    
    
    
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
    }

    